<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>{{title}}</title>
		<link rel="stylesheet" href="/public/common.css"/>
	</head>
	<body>
		<div id="main" class="flex-col">
			{{{body}}}
		</div>
	</body>
</html>