#main > div:nth-of-type(1) {
	height: 150px;
	background-color: grey;
}

#main > div:nth-of-type(2) {
	height: calc(100% - 150px);
	background-color: cyan;
}

#controls, #username{
	justify-items: space-around;
}

#username > *:nth-of-type(2){
	padding: 0 30px;
}