<link rel="stylesheet" href="/public/home.css"/>
<script src="/socket.io/socket.io.js"></script>
<script src="/js-cookie/js.cookie.js"></script>
<script>
(() => {
	const uuid = Cookies.get('uuid') || "{{uuid}}"
	Cookies.set('uuid', uuid)
	console.log(`uuid: ${uuid}`)
	const socket = io()
	console.log("Connected")
})()

let loop = null

const start = () => {
	if(loop !== null){
		return
	}
	console.log("start")
	loop = setInterval(() => {
		console.log("emit")
	}, {{intervalUpdate}})
}

const stop = () => {
	clearInterval(loop)
	loop = null
}

</script>
<div class="flex">
	<div>HOME</div>
	<div id="controls" class="flex">
		<div><button onclick="start()">Start</button></div>
		<div><button onclick="stop()">Stop</button></div>
	</div>
</div>
<div class="flex">
	VOILA
</div>
