<link rel="stylesheet" href="/public/home.css"/>
<script src="/socket.io/socket.io.js"></script>
<script src="/js-cookie/js.cookie.js"></script>
<script>
	let canUseGeoloc = true
	let socket
	let uuid
	const errorWithGeoloc = () => {
		canUseGeoloc = false
		document.querySelectorAll("#controls button").forEach((btn) => btn.disabled = true)
		alert("The geolocation api is not working, you can't use this  application !")
	}
	
	if (!navigator.geolocation) {
		errorWithGeoloc()	
    }
	else{
		uuid = Cookies.get('uuid') || "{{uuid}}"
		Cookies.set('uuid', uuid)
		console.log(`uuid: ${uuid}`)
		
		socket = io()
		console.log("Connected")
	}
	
	let record = null
	
	const start = () => {
		if(canUseGeoloc && record === null){
			const options = {
				enableHighAccuracy: false,
				timeout: 5000,
				maximumAge: 0
			}
			record = navigator.geolocation.watchPosition((pos) => {
				const {latitude, longitude} = pos.coords
				console.log(`Your position changed to ${latitude}:${longitude}`)
				socket.emit('data', {uuid, latitude, longitude})
			}, (err) => {
				errorWithGeoloc()
			}, options);
		}
	}

	const stop = () => {
		navigator.geolocation.clearWatch(record)
		record = null
	}

</script>
<div class="flex">
	<div>HOME</div>
	<div id="controls" class="flex">
		<div><button onclick="start()">Start</button></div>
		<div><button onclick="stop()">Stop</button></div>
	</div>
</div>
<div class="flex">
	VOILA
</div>
