<link rel="stylesheet" href="/public/home.css"/>
<script src="/socket.io/socket.io.js"></script>
<script src="/js-cookie/js.cookie.js"></script>
<script>
	let canUseGeoloc = true
	let socket
	let uuid
	let map
	
	const errorWithGeoloc = (err) => {
		console.error(err)
		canUseGeoloc = false
		document.querySelectorAll("#controls button").forEach((btn) => btn.disabled = true)
		console.log("The geolocation api is not working, you can't use this  application !")
	}
	
	if (!navigator.geolocation) {
		errorWithGeoloc("geoloc not enabled")	
    }
	else{
		uuid = Cookies.get('uuid') || "{{uuid}}"
		Cookies.set('uuid', uuid)
		console.log(`uuid: ${uuid}`)
		
		socket = io()
		console.log("Connected")
	}
	
	let record = null
	
	const start = () => {
		if(canUseGeoloc && record === null){
			const options = {
				enableHighAccuracy: false,
				timeout: 7000,
				maximumAge: 0
			}
			record = navigator.geolocation.watchPosition((pos) => {
				const {latitude: lat, longitude: lng} = pos.coords
				console.log(`Your position changed to ${lat}:${lng}`)
				socket.emit('data', {uuid, lat, lng})
				map.panTo({lat, lng})
			}, (err) => {
				errorWithGeoloc(err)
			}, options);
		}
	}

	const stop = () => {
		navigator.geolocation.clearWatch(record)
		record = null
	}

	function initMap() {
		var center = {lat: 47.218371, lng: -1.553621};
		map = new google.maps.Map(document.getElementById('map'), {
			zoom: 19,
			center
		});
	}
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDs-TwvgXaeH-c6f5nRaK1ddS6ZBeo_A3Y&callback=initMap">
    </script>

</script>
<div class="flex">
	<div>HOME</div>
	<div id="controls" class="flex">
		<div><button onclick="start()">Start</button></div>
		<div><button onclick="stop()">Stop</button></div>
	</div>
</div>
<div id="map" class="flex"></div>
